.hidden{
    display: none;
}

.bold{
    font-weight: 600;
}

.hover{
    text-decoration: none;
    color: #000;
}

.hover:hover{
    text-decoration: none;
    color: #000;
    font-size: 12pt;
    transition: font-size 0.2s;
}

#print_label_form{
    display: none;
}

#delete_equipment_form{
    display: none;
}

#print_bulk_label_form{
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.red{
    color: red;
}

.green{
    color: green;
}

.chart-container{
    height: 0 !important;
}

.chart-container-active{
    height: 500px !important;
    width: 500px !important;
    margin: 0 auto;
}

canvas{
    margin: 0 auto !important;
}